html {
  position: relative;
  min-width: 1024px;
  min-height: 768px;
  height: 100%;
  overflow-y: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #6a1a14;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  white-space: nowrap;
}

.btn {
  color: #6a1a14;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.btn:hover {
  background-color: #fad16c;
  color: white;
}
